
<header class="header">
  <div class="inner">
    <a href="/" class="logo">FistWallet</a>

    <div class="intro">
      <p>FistWallet is a secure hosted wallet service for several types of blockchain currencies.</p>
    </div>

  </div>
</header>

<div class="body">

  <div class="inner">
    <div class="main-view"></div>
  </div>

</div>

<footer class="footer">
  <div class="inner">
    <p>Written by: Brian Mancini |
    Project available on <a href="https://github.com/bmancini55/wallettest">Github</a></p>
  </div>
</footer>
