<!DOCTYPE>
<html>
<head>
    <title>FistWallet - POW in your man-pleaser

    <script type="text/javascript" src="/public/bitcoinjs-lib/crypto-js/crypto.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/crypto-js/ripemd160.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/crypto-js/sha256.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/jsbn/ec.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/jsbn/jsbn.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/jsbn/jsbn2.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/address.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/base58.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/base58.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/ecdsa.js"></script
    <script type="text/javascript" src="/public/bitcoinjs-lib/eckey.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/opcode.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/script.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/util.js"></script>
    <script type="text/javascript" src="/public/bitcoinjs-lib/wallet.js"></script>

    <link rel="Stylesheet" type="text/css" href="/public/css/site.css" />
</head>
<body>
    {{{body}}}
</body>
</html>