<!DOCTYPE>
<html>
<head>
    <title>FistWallet - POW in your man-pleaser</title>

    <script type="text/javascript">
    window.Bitcoin = {}
    </script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/crypto-js/crypto.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/crypto-js/ripemd160.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/crypto-js/sha256.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/sec.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/ec.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/jsbn.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/jsbn2.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/prng4.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/jsbn/rng.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/address.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/base58.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/ecdsa.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/eckey.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/opcode.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/script.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/util.js"></script>
    <script type="text/javascript" src="/public/vendors/bitcoinjs-lib/src/wallet.js"></script>

    <link rel="Stylesheet" type="text/css" href="/public/css/site.css" />
</head>
<body>
    {{{body}}}
</body>
</html>
