body {
  font-family: palatino, arial;
  font-size: 125%;
  line-height: 1.5rem;
  margin: 0;
  background-color: #6B6967;
  color: #C7C5C1;
  margin-top: .375rem;
  border-top: .75rem solid #5D482C;
}

a {
  color: #5D482C;
}

h1, h2, h3, h4, h5, h6 {
  color: #5D482C;
}

input,
textarea {
  font-size: 32px;
  font-family: palatino, arial;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button,
.button {
  background-color: #90816d;
  border: 1px solid #706658;
  padding: .375rem 1.5rem;
  color: #C7C4BF;  
}

input[type=text],
input[type=password] {
  background-color: #C7C5C1;
  border: 1px solid #706658;
  padding: .375rem .375rem;
  color: #5D482C;
  width: 100%;
}

.inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  box-model: border-box;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #C7C4BF;
  color: #5D482C;
  border-bottom: 1px solid #706658;
}

.header .inner {
  text-align: center;
}

.header .logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.header .intro {
  margin-left: auto;
  margin-right: auto;
}

.body {
  background-color: #8F8C88;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #706658;
  color: #6D583C;
}
.body .inner {
} 

.footer {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer .inner {
  text-align: center;
}
.footer a {
  color: #baa28b;
}


/********************************************************
 * COMPONENTS
 *******************************************************/

.giant-button {
  display: block;
  width: 100%;  
  font-size: 2em;
  font-weight: bold;
  border-radius: .25em;
  padding: .25em .5em;
  margin: .5em 0;
}

.hidden { 
  display: none;
}



/********************************************************
 * PAGE STYLES
 *******************************************************/

.home .supports {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}
.home .supports h2 {
  width: 33%;
}


.home .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;

  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-align-content: flex-end;
}
.home .info .reason {
  width: 50%;
  box-sizing: border-box;
  padding: 0 .75em;

  -moz-box-sizing: border-box;
}
.home .info .reason p {
  font-size: .9rem;
  line-height: 1.4rem;
}
.home .info .reason h3 {
  
}

@media only screen and (min-width: 533px) {

  .inner {
    max-width: 600px;
  }

  .header .logo {
    width: 400px;
    height: 125px;
    background-image: url(/public/assets/fist-wallet.png);
  }

  .header .intro {
    width: 400px;
  }
}


@media only screen and (max-width: 533px) {

  .header .inner {
    max-width: 533px;
  }

  .header .logo {
    width: 300px;
    height: 93px;
    background-image: url(/public/assets/fist-wallet-md.png);
  }
}

@media only screen and (max-width: 300px) {
  .header .logo {
    width: 150px;
    height: 47px;
    background-image: url(/public/assets/fist-wallet-sm.png);
  }
}
