

<div class="forms">
  <form class="open-wallet">
    <h3>Sign In</h3>
    <p><input type="text" name="email" /></p>
    <p><input type="password" name="pin" /></p>
    <p><input type="password" name="password" /></p>
    <p><input type="submit" value="Sign In" /></p>
  </form>


  <form class="create-wallet">
    <h3>Sign Up</h3>
    <p><input type="text" name="email" /></p>
    <p><input type="password" name="pin" /></p>
    <p><input type="password" name="password" /></p>
    <p><input type="submit" value="Create" /></p>
  </form>
</div>


<div class="supports">
  <h2 class="bitcoin">BTC</h2>
  <h2 class="litecoin">LTC</h2>
  <h2 class="namecoin">NMC</h2>
</div>


<div class="info">

  <div class="reason">
    <h3>Semi-Hosted</h3>
    <p>FistWallet data is available to you from all over the world but we don't have access to your private keys. Your browser decrypts your wallet for you to use locally.</p>
  </div>

  <div class="reason">
    <h3>Secure</h3>
    <p>FistWallet uses strong two-layer encryption to both encrypt your wallet metadata and your wallet private keys. This ensures that we don't have access to your addresses, balances or even your metadata.</p>
  </div>

  <div class="reason">
    <h3>Online or Offline</h3>
    <p>Use your wallet in online or offline mode. You can backup your wallet at any time. The encrypted back-up includes the unpacking utility that allows you to access your wallet data offline.</p>
  </div>

  <div class="reason">
    <h3>Currency Transfer</h3>
    <p>Our built-in service allows you to transfer seemlessly between your various currencies.</p>
  </div>

</div>
